Repository trungvu0612/nexthcm-angular-libraries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, transloco-validator, eslint --fix

feat(admin-workflows): add email template field
  libs/admin/workflows/src/lib/components/add-post-function-to-transition-dialog/add-post-function-to-transition-dialog.component.ts
  libs/admin/workflows/src/lib/enums/transition-options.ts
Due: prettier --write, eslint --fix

fix(my-time): load offices
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
Due: prettier --write, eslint --fix

fix(admin-offices): remove wfh boolean
  libs/admin/offices/src/lib/components/upsert-office-dialog/upsert-office-dialog.component.ts
  libs/admin/offices/src/lib/pages/office-management/office-management.component.html
  libs/admin/offices/src/lib/pages/office-management/office-management.component.ts
  libs/cdk/src/lib/models/office.ts
  libs/cdk/src/lib/state/offices/offices.actions.ts
  libs/cdk/src/lib/state/offices/offices.effects.ts
  libs/cdk/src/lib/state/offices/offices.query.ts
  libs/cdk/src/lib/state/offices/offices.service.ts
  libs/cdk/src/lib/state/offices/offices.store.ts
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
Due: prettier --write, eslint --fix

feat(workflows): add post function `AddEntitlementAfterCancelLeaveNotApprovedYet`
  libs/admin/workflows/src/lib/enums/transition-options.ts
  libs/admin/workflows/src/lib/i18n/en.json
  libs/admin/workflows/src/lib/i18n/vi.json
Due: prettier --write, eslint --fix

feat(admin-employees): implement view employees
  apps/hcm-web/src/environments/environment.ts
  libs/admin/employees/src/lib/components/attachment-form/attachment-form.component.html
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.html
  libs/admin/employees/src/lib/components/education-form/education-form.component.html
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.html
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/employees/src/lib/components/general-information/general-information.component.html
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.html
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/ui/src/lib/components/base-form/base-form.component.html
  libs/ui/src/lib/components/base-form/base-form.component.ts
Due: prettier --write, eslint --fix

feat(admin-employees): filter by status
  .lintstagedrc.yaml
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/cdk/src/lib/state/job-levels/job-levels.store.ts
  libs/cdk/src/lib/state/job-titles/job-titles.store.ts
  libs/cdk/src/lib/state/organizations/organizations.store.ts
  libs/cdk/src/lib/state/roles/roles.store.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/models/base-working-hours.ts
  libs/my-time/src/lib/internal/services/my-requests.service.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.html
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.ts
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.ts
  libs/my-time/src/lib/services/my-time.service.spec.ts
Due: prettier --write, transloco-validator, eslint --fix

fix(my-time): remove wfh field in working-hours detail
  libs/my-time/src/lib/modules/working-hours/components/working-hour-detail-dialog/working-hours-detail-dialog.component.html
Due: prettier --write

feat(my-time): add CnB type for export timesheet
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/enums/export-time-log-type.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
Due: prettier --write, eslint --fix

feat(my-time): escalate to the direct supervisor in leave requests
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/services/my-requests.service.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.html
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(core): update ng-heroicon
  libs/core/src/lib/core.module.ts
  libs/home/src/lib/home.module.ts
Due: prettier --write, eslint --fix

feat(my-time): get leave entitlements following by the date range
  libs/cdk/src/lib/utils/index.ts
  libs/cdk/src/lib/utils/is-date-range-same-year.ts
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/services/my-leave.service.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.html
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
Due: prettier --write, eslint --fix

feat(my-time): show error message when change workflow status
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/abstract/request-list-component.ts
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
Due: prettier --write, transloco-validator, eslint --fix

feat(leave-config): add submit loading for leave config forms
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.html
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-entitlement/upsert-leave-entitlement-dialog.component.html
  libs/admin/leave-configs/src/lib/components/upsert-leave-entitlement/upsert-leave-entitlement-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.html
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.ts
Due: prettier --write, eslint --fix

feat(admin-working-time): refactor some code, rewrite holidays configuration
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/working-times/src/lib/admin-working-times.module.ts
  libs/admin/working-times/src/lib/components/holiday-list/holiday-list.component.html
  libs/admin/working-times/src/lib/components/holiday-list/holiday-list.component.scss
  libs/admin/working-times/src/lib/components/holiday-list/holiday-list.component.spec.ts
  libs/admin/working-times/src/lib/components/holiday-list/holiday-list.component.ts
  libs/admin/working-times/src/lib/components/repeat-section/repeat-section.component.html
  libs/admin/working-times/src/lib/components/upsert-holiday-dialog/upsert-holiday-dialog.component.html
  libs/admin/working-times/src/lib/components/upsert-holiday-dialog/upsert-holiday-dialog.component.scss
  libs/admin/working-times/src/lib/components/upsert-holiday-dialog/upsert-holiday-dialog.component.spec.ts
  libs/admin/working-times/src/lib/components/upsert-holiday-dialog/upsert-holiday-dialog.component.ts
  libs/admin/working-times/src/lib/enums/convert-overtime.ts
  libs/admin/working-times/src/lib/enums/index.ts
  libs/admin/working-times/src/lib/i18n/en.json
  libs/admin/working-times/src/lib/i18n/vi.json
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.html
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.scss
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.ts
  libs/admin/working-times/src/lib/services/working-times.service.ts
  libs/admin/working-times/src/lib/translation-scope.ts
  libs/cdk/src/lib/models/holiday.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/services/my-leave.service.ts
  libs/my-time/src/lib/internal/services/my-requests.service.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
  libs/ui/src/lib/modules/portal-layout/sidebar/sidebar.component.ts
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

feat(admin-employees): check circular direct report
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/employees/src/lib/services/admin-employees.service.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
Due: prettier --write, transloco-validator, eslint --fix

feat(my-time): create requests for employees can select a workflow status to transition
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.html
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.html
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.html
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.html
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
  libs/my-time/src/lib/internal/enums/index.ts
  libs/my-time/src/lib/internal/enums/request-type.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/update-timesheet-request-payload.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/work-from-home-request-payload.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/working-after-hours-request-payload.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/working-onsite-request-payload.ts
  libs/my-time/src/lib/internal/models/requests/index.ts
  libs/my-time/src/lib/internal/models/requests/leave-request-payload.ts
  libs/my-time/src/lib/internal/models/requests/submit-request-payload.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.html
  libs/my-time/src/lib/services/my-time.service.ts
  package.json
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

feat(my-time): create update-timesheet requests for employees can select a workflow status to transition
  libs/my-time/src/lib/modules/working-hours/components/create-update-timesheet-request-dialog/create-update-timesheet-request-dialog.component.html
  libs/my-time/src/lib/modules/working-hours/components/create-update-timesheet-request-dialog/create-update-timesheet-request-dialog.component.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.module.ts
Due: prettier --write, eslint --fix

feat(my-time): can clear `transitionToStatus` value
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
  libs/my-time/src/lib/modules/working-hours/components/create-update-timesheet-request-dialog/create-update-timesheet-request-dialog.component.ts
Due: prettier --write, eslint --fix

feat(my-time): show message when change request's status, export timesheet by MY_TEAM
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/abstract/request-list-component.ts
  libs/my-time/src/lib/internal/models/export-time-log.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
Due: prettier --write, transloco-validator, eslint --fix

feat(admin-config-time): handle empty working time config
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/admin/working-times/src/lib/i18n/en.json
  libs/admin/working-times/src/lib/i18n/vi.json
  libs/admin/working-times/src/lib/models/working-times.ts
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(admin-config-time): patchValue for `maxPaidLeaveToCash`
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.ts
Due: prettier --write, eslint --fix

feat(admin-leave-configs): export leave entitlement for CnB, implement view leave history based on leave taken
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.service.ts
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.ts
  libs/admin/leave-configs/src/lib/components/select-leave-entitlements-export-type-dialog/select-leave-entitlements-export-type-dialog.component.html
  libs/admin/leave-configs/src/lib/components/select-leave-entitlements-export-type-dialog/select-leave-entitlements-export-type-dialog.component.scss
  libs/admin/leave-configs/src/lib/components/select-leave-entitlements-export-type-dialog/select-leave-entitlements-export-type-dialog.component.spec.ts
  libs/admin/leave-configs/src/lib/components/select-leave-entitlements-export-type-dialog/select-leave-entitlements-export-type-dialog.component.ts
  libs/admin/leave-configs/src/lib/enums/index.ts
  libs/admin/leave-configs/src/lib/enums/leave-entitlements-export-type.ts
  libs/admin/leave-configs/src/lib/enums/leave-operations.ts
  libs/admin/leave-configs/src/lib/i18n/en.json
  libs/admin/leave-configs/src/lib/i18n/vi.json
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.html
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.ts
  libs/cdk/src/lib/abstract/table-components/abstract-base-server-pagination-table.component.ts
  libs/cdk/src/lib/abstract/table-components/index.ts
  libs/cdk/src/lib/models/date-range.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/cron-builder/src/lib/shared/cron-and/cron-and.module.ts
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.ts
  package.json
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

feat(my-time): check duplicate date range for onsite & wfh requests
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.ts
  libs/admin/leave-configs/src/lib/i18n/en.json
  libs/admin/leave-configs/src/lib/i18n/vi.json
  libs/admin/leave-configs/src/lib/models/leave-level-approval.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
Due: prettier --write, transloco-validator, eslint --fix

fix(my-time): wrong path of checking duplicate date range for wfh requests
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
Due: prettier --write, eslint --fix

feat(admin-leave-configs): click to `leavePending` & `leaveScheduled` value to view leave history
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.html
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.ts
  libs/admin/working-times/src/lib/components/holiday-list/holiday-list.component.html
  libs/admin/working-times/src/lib/components/upsert-holiday-dialog/upsert-holiday-dialog.component.ts
  libs/admin/working-times/src/lib/services/working-times.service.ts
  libs/cdk/src/lib/models/holiday.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  package.json
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

feat(files): support keepSize params when upload image
  libs/admin/employees/src/lib/components/attachment-form/attachment-form.component.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/cdk/src/lib/services/upload-file/upload-file.service.ts
Due: prettier --write, eslint --fix

feat(seat-maps): hover seat to view detail
  libs/admin/seat-maps/src/lib/i18n/vi.json
  libs/auth/src/lib/services/auth.http
  libs/core/assets/i18n/vi.json
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/seat-maps.http
  libs/seat-maps/src/lib/seat-maps.module.ts
  package.json
Due: prettier --write, transloco-validator, eslint --fix

fix(admin-employees): parse date range
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.ts
  libs/cdk/src/lib/models/date-range.ts
Due: prettier --write, eslint --fix

chore(all): downgrade nx
  libs/core/src/lib/transloco/i18n-cache-busting.json
  package.json
  yarn.lock
Due: none

feat(seat-maps): find the seat of a user
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.scss
  libs/seat-maps/src/lib/seat-maps.component.ts
  libs/seat-maps/src/lib/seat-maps.http
  libs/seat-maps/src/lib/seat-maps.service.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(admin-employees): set employeeId queryParams
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/employees/src/lib/i18n/en.json
  libs/admin/employees/src/lib/i18n/vi.json
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/admin/workflows/src/lib/pages/upsert-workflow/upsert-workflow.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/abstract/request-list-component.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.service.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.ts
  libs/ui/src/lib/components/base-form/base-form.component.html
  libs/ui/src/lib/components/base-form/base-form.component.ts
Due: prettier --write, transloco-validator, eslint --fix

feat(offices): mark on map to input office's address
  angular.json
  libs/admin/employees/src/lib/admin-employees.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/offices/src/lib/admin-offices.module.ts
  libs/admin/offices/src/lib/components/upsert-office-dialog/upsert-office-dialog.component.html
  libs/admin/offices/src/lib/components/upsert-office-dialog/upsert-office-dialog.component.ts
  libs/cdk/src/lib/abstract-components/abstract-tables/abstract-server-sort-pagination-table.component.ts
  libs/cdk/src/lib/abstract/table-components/abstract-server-sort-pagination-table.component.ts
  libs/core/assets/styles/main.scss
  libs/core/src/lib/models/app-config.ts
  libs/human-resource/src/lib/human-resource.module.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.module.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.module.ts
  libs/ui/src/index.ts
  libs/ui/src/lib/modules/leaflet-map/formly-leaflet-coordinates/formly-leaflet-coordinates.component.html
  libs/ui/src/lib/modules/leaflet-map/formly-leaflet-coordinates/formly-leaflet-coordinates.component.scss
  libs/ui/src/lib/modules/leaflet-map/formly-leaflet-coordinates/formly-leaflet-coordinates.component.spec.ts
  libs/ui/src/lib/modules/leaflet-map/formly-leaflet-coordinates/formly-leaflet-coordinates.component.ts
  libs/ui/src/lib/modules/leaflet-map/index.ts
  libs/ui/src/lib/modules/leaflet-map/leaflet-map.module.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(home): include current geolocation with checking in/out
  .eslintrc.json
  angular.json
  libs/admin/offices/src/lib/components/upsert-office-dialog/upsert-office-dialog.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/home/src/lib/home.component.html
  libs/home/src/lib/home.component.ts
  libs/home/src/lib/home.module.ts
  libs/my-time/src/lib/models/time-keeping.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.component.html
  libs/ui/src/lib/modules/leaflet-map/formly-leaflet-coordinates/formly-leaflet-coordinates.component.ts
  package.json
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

feat(my-time): support multiple date-ranges for work-from-home & working-onsite requests (HRM-1963)
  .lintstagedrc.yaml
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.spec.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.spec.ts
  libs/my-time/src/lib/internal/components/index.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/date-range.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/work-from-home-request-payload.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/working-onsite-request-payload.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.module.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.component.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.module.ts
  libs/my-time/src/lib/modules/request-management/request-management.component.ts
  libs/my-time/src/lib/modules/request-management/request-management.module.ts
  libs/my-time/src/lib/shared/create-request-forms/create-request-forms.module.ts
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.html
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.scss
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.spec.ts
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.ts
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.html
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.scss
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.spec.ts
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.ts
  libs/my-time/src/lib/shared/create-request-forms/formly-repeat-section/formly-repeat-section.component.html
  libs/my-time/src/lib/shared/create-request-forms/formly-repeat-section/formly-repeat-section.component.scss
  libs/my-time/src/lib/shared/create-request-forms/formly-repeat-section/formly-repeat-section.component.spec.ts
  libs/my-time/src/lib/shared/create-request-forms/formly-repeat-section/formly-repeat-section.component.ts
  libs/my-time/src/lib/shared/create-request-forms/utils/duplicate-date-ranges-in-list.ts
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.html
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.scss
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.spec.ts
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.ts
  libs/my-time/src/lib/shared/index.ts
  libs/my-time/src/lib/shared/leave-request-date-range/leave-request-date-range.component.html
  libs/my-time/src/lib/shared/leave-request-date-range/leave-request-date-range.component.scss
  libs/my-time/src/lib/shared/leave-request-date-range/leave-request-date-range.component.spec.ts
  libs/my-time/src/lib/shared/leave-request-date-range/leave-request-date-range.component.ts
  package.json
  yarn.lock
Due: prettier --write, transloco-validator, eslint --fix

fix(my-time): circular dependency on itself
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.ts
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.ts
Due: prettier --write, eslint --fix

feat(notifications): convert cron expression to human readable description
  angular.json
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/notifications/src/lib/admin-notifications.module.ts
  libs/admin/notifications/src/lib/components/formly-quartz-cron/formly-quartz-cron.component.html
  libs/admin/notifications/src/lib/i18n/en.json
  libs/admin/notifications/src/lib/i18n/vi.json
  libs/admin/notifications/src/lib/pages/notification-management/notification-management.component.html
  libs/admin/notifications/src/lib/pages/notification-management/notification-management.component.ts
  libs/admin/task-scheduler/src/lib/i18n/en.json
  libs/admin/task-scheduler/src/lib/i18n/vi.json
  libs/cron-builder/src/lib/shared/cron-container/cron-container.component.html
  libs/cronstrue/.eslintrc.json
  libs/cronstrue/README.md
  libs/cronstrue/jest.config.js
  libs/cronstrue/ng-package.json
  libs/cronstrue/package.json
  libs/cronstrue/src/index.ts
  libs/cronstrue/src/lib/cronstrue.module.ts
  libs/cronstrue/src/lib/i18n/all-locale-loader.ts
  libs/cronstrue/src/lib/i18n/all-locales.ts
  libs/cronstrue/src/lib/i18n/en.ts
  libs/cronstrue/src/lib/i18n/locale-loader.ts
  libs/cronstrue/src/lib/i18n/locale.ts
  libs/cronstrue/src/lib/i18n/vi.ts
  libs/cronstrue/src/lib/pipes/cronstrue.pipe.spec.ts
  libs/cronstrue/src/lib/pipes/cronstrue.pipe.ts
  libs/cronstrue/src/lib/utils/cron-parser.ts
  libs/cronstrue/src/lib/utils/cronstrue-i18n.ts
  libs/cronstrue/src/lib/utils/expression-descriptor.ts
  libs/cronstrue/src/lib/utils/options.ts
  libs/cronstrue/src/lib/utils/range-validator.ts
  libs/cronstrue/src/lib/utils/string-utilities.ts
  libs/cronstrue/src/test-setup.ts
  libs/cronstrue/tsconfig.json
  libs/cronstrue/tsconfig.lib.json
  libs/cronstrue/tsconfig.lib.prod.json
  libs/cronstrue/tsconfig.spec.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: apps/**/*.{js,ts,json,scss,md}) or (any of: *.{js,ts,html,md,less,scss,yaml, json})
  transloco-validator: any of: libs/**/assets/i18n/*.json
  eslint --fix: any of: *.{js,ts}
