Repository trungvu0612/nexthcm-angular-libraries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, transloco-validator

fix(seat-maps): sync field count not-checked-in users with BE
  libs/cdk/src/lib/models/seat-map.ts
  libs/seat-maps/src/lib/seat-maps.component.ts
  package.json
  yarn.lock
Due: none

fix(admin-leave-configs): handle remove filter queryParams for leave usages list
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.ts
  libs/admin/leave-configs/src/lib/models/leave-entitlement-filters.ts
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.ts
Due: none

fix(admin-employees): reset page when filter
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/cdk/src/lib/abstract/table-components/abstract-server-pagination-table.component.ts
  libs/cdk/src/lib/abstract/table-components/abstract-server-sort-pagination-table.component.ts
  libs/cdk/src/lib/directives/property-route-connector/property-route-connector.directive.ts
  package.json
  yarn.lock
Due: none

refactor(my-time): create new list-request-filters
  libs/admin/workflows/src/lib/pages/workflow-management/workflow-management.component.ts
  libs/core/assets/styles/theme.scss
  libs/my-time/src/lib/internal/abstract/index.ts
  libs/my-time/src/lib/internal/abstract/request-list-component.ts
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.html
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.scss
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.spec.ts
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.html
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.module.ts
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.html
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.module.ts
  libs/ui/src/lib/modules/filters/index.ts
  libs/ui/src/lib/modules/filters/input-filter/input-filter.component.ts
  libs/ui/src/lib/modules/filters/input-number-filter/input-number-filter.component.html
  libs/ui/src/lib/modules/filters/input-number-filter/input-number-filter.component.scss
  libs/ui/src/lib/modules/filters/input-number-filter/input-number-filter.component.spec.ts
  libs/ui/src/lib/modules/filters/input-number-filter/input-number-filter.component.ts
  libs/ui/src/lib/modules/filters/select-month-filter/select-month-filter.component.html
  libs/ui/src/lib/modules/filters/workflow-status-combo-box-filter/workflow-status-combo-box-filter.component.html
  libs/ui/src/lib/modules/filters/workflow-status-combo-box-filter/workflow-status-combo-box-filter.component.ts
Due: none

chore(release): 1.1.0
  libs/admin/employees/package.json
  libs/admin/job-levels/package.json
  libs/admin/job-titles/package.json
  libs/admin/knowledge-base/package.json
  libs/admin/leave-configs/package.json
  libs/admin/offices/package.json
  libs/admin/permissions/package.json
  libs/admin/requests-configuration/package.json
  libs/admin/seat-maps/package.json
  libs/admin/synchronize-data/package.json
  libs/admin/tenants/package.json
  libs/admin/user-roles/package.json
  libs/admin/workflows/package.json
  libs/admin/working-times/package.json
  libs/auth/package.json
  libs/calendar/package.json
  libs/cdk/package.json
  libs/chat/package.json
  libs/core/package.json
  libs/cron-builder/package.json
  libs/home/package.json
  libs/human-resource/package.json
  libs/knowledge-base/package.json
  libs/my-time/package.json
  libs/seat-maps/package.json
  libs/ui/package.json
  libs/workflow-designer/package.json
  package.json
  yarn.lock
Due: none

fix(angular.json): wrong paths of environment
  angular.json
Due: none

build(docker,jenkins): change dist path
  Dockerfile
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

fix(auth): implement transloco scope
  apps/nexthcm-web/src/index.html
  libs/auth/src/lib/auth.module.ts
  libs/auth/src/lib/i18n/en.json
  libs/auth/src/lib/i18n/vi.json
  libs/auth/src/lib/pages/login/login.component.html
  libs/auth/src/lib/pages/login/login.component.ts
  libs/auth/src/lib/translation-scope.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
Due: transloco-validator

change to server16
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

change to server15 to build , server 16 to deploy
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

change to 31134
  kubernetes_qa.yml
Due: none

feat(all): update packages, fix styling
  .stylelintrc.json
  angular.json
  apps/hcm-web/.stylelintrc.json
  apps/hcm-workflows-e2e/.eslintrc.json
  apps/hcm-workflows-e2e/cypress.json
  apps/hcm-workflows-e2e/src/fixtures/example.json
  apps/hcm-workflows-e2e/src/integration/app.spec.ts
  apps/hcm-workflows-e2e/src/support/app.po.ts
  apps/hcm-workflows-e2e/src/support/commands.ts
  apps/hcm-workflows-e2e/src/support/index.ts
  apps/hcm-workflows-e2e/tsconfig.json
  apps/hcm-workflows/.browserslistrc
  apps/hcm-workflows/.eslintrc.json
  apps/hcm-workflows/jest.config.js
  apps/hcm-workflows/src/app/app.component.html
  apps/hcm-workflows/src/app/app.component.scss
  apps/hcm-workflows/src/app/app.component.spec.ts
  apps/hcm-workflows/src/app/app.component.ts
  apps/hcm-workflows/src/app/app.module.ts
  apps/hcm-workflows/src/assets/.gitkeep
  apps/hcm-workflows/src/assets/logo.png
  apps/hcm-workflows/src/environments/environment.prod.ts
  apps/hcm-workflows/src/environments/environment.ts
  apps/hcm-workflows/src/favicon.ico
  apps/hcm-workflows/src/index.html
  apps/hcm-workflows/src/main.ts
  apps/hcm-workflows/src/polyfills.ts
  apps/hcm-workflows/src/styles.scss
  apps/hcm-workflows/src/test-setup.ts
  apps/hcm-workflows/tsconfig.app.json
  apps/hcm-workflows/tsconfig.editor.json
  apps/hcm-workflows/tsconfig.json
  apps/hcm-workflows/tsconfig.spec.json
  apps/nexthcm-web/src/styles.scss
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/core/assets/styles/theme.less
  libs/workflow-designer/tsconfig.lib.json
  package.json
  yarn.lock
Due: prettier --write

chore(all): downgrade to angular v12.2.0 & taiga-ui v2.21.0
  angular.json
  libs/admin/employees/package.json
  libs/admin/job-levels/package.json
  libs/admin/job-titles/package.json
  libs/admin/knowledge-base/package.json
  libs/admin/leave-configs/package.json
  libs/admin/offices/package.json
  libs/admin/permissions/package.json
  libs/admin/requests-configuration/package.json
  libs/admin/seat-maps/package.json
  libs/admin/synchronize-data/package.json
  libs/admin/tenants/package.json
  libs/admin/user-roles/package.json
  libs/admin/workflows/package.json
  libs/admin/workflows/src/lib/i18n/en.json
  libs/admin/workflows/src/lib/i18n/vi.json
  libs/admin/working-times/package.json
  libs/auth/package.json
  libs/calendar/package.json
  libs/cdk/package.json
  libs/core/package.json
  libs/cron-builder/package.json
  libs/home/package.json
  libs/human-resource/package.json
  libs/knowledge-base/package.json
  libs/my-time/package.json
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.component.ts
  libs/seat-maps/package.json
  libs/ui/package.json
  libs/workflow-designer/package.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: none

fix(all): org-chart
  libs/human-resource/src/lib/pages/organizational-chart/organizational-chart.component.html
  package.json
  yarn.lock
Due: none

feat(my-time): create update-timesheet request for employee (HRM-1740)
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/admin/workflows/src/lib/components/status-combobox/status-combobox.component.html
  libs/cdk/src/lib/models/employee-info.ts
  libs/core/assets/styles/main.scss
  libs/core/assets/styles/modules/_my-time.scss
  libs/core/assets/styles/modules/_status.scss
  libs/core/assets/styles/modules/_tag.scss
  libs/core/assets/styles/theme/_variables.scss
  libs/core/assets/styles/theme/_wrapper.scss
  libs/core/assets/styles/theme/wrapper/_icon.scss
  libs/core/assets/styles/theme/wrapper/_outline.scss
  libs/core/assets/styles/theme/wrapper/_primary.scss
  libs/core/assets/styles/theme/wrapper/_secondary.scss
  libs/core/assets/styles/theme/wrapper/_table.scss
  libs/core/assets/styles/theme/wrapper/_textfield.scss
  libs/core/assets/styles/theme/wrapper/_whiteblock.scss
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-transfer-leave-entitlement-request/create-transfer-leave-entitlement-request.component.ts
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
  libs/my-time/src/lib/internal/models/create-request-payloads/update-timesheet-request-payload.ts
  libs/my-time/src/lib/modules/working-hours/components/create-update-timesheet-request-dialog/create-update-timesheet-request-dialog.component.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.html
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.ts
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/combo-box/combo-box.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/combo-box/combo-box.component.ts
Due: none

fix(profile): styling of access token input
  apps/hcm-web/src/environments/environment.ts
  libs/home/src/lib/components/personal-access-token/personal-access-token.component.html
Due: prettier --write

chore(release): 1.0.5
  package.json
Due: none

fix(my-time): handle empty user when creating a my-request
  libs/core/assets/i18n/en.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-work-from-home-request-dialog/create-work-from-home-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-working-onsite-request-dialog/create-working-onsite-request-dialog.component.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.component.ts
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.ts
Due: transloco-validator

feat(my-time): update new check-in-out
  libs/home/src/lib/components/personal-access-token/personal-access-token.component.html
  libs/home/src/lib/components/personal-access-token/personal-access-token.component.ts
  libs/home/src/lib/home.component.ts
  libs/my-time/src/lib/models/time-keeping.ts
  libs/my-time/src/lib/services/my-time.service.ts
  package.json
  yarn.lock
Due: none

fix(my-time): revert filter list requests by employees
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
  apps/nexthcm-web/src/environments/environment.local.ts
  libs/core/src/lib/transloco/transloco-config.ts
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.html
  package.json
Due: prettier --write

chore(app): config local environment
  angular.json
Due: none

chore(release): 1.0.6
  package.json
Due: none

build(qa,uat): fix transloco-optimize script
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

feat(my-time): show request dialog with queryParams `id`
  libs/my-time/src/lib/internal/abstract/my-request-list-component.ts
  libs/my-time/src/lib/internal/abstract/request-list-component.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.service.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-transfer-leave-entitlements-requests/my-transfer-leave-entitlements-requests.component.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-update-timesheet-requests/my-update-timesheet-requests.component.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-work-from-home-requests/my-work-from-home-requests.component.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-working-after-hours-requests/my-working-after-hours-requests.component.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-working-onsite-requests/my-working-onsite-requests.component.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
  package.json
  yarn.lock
Due: none

feat(my-time): implement date-range filter
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.html
  libs/my-time/src/lib/internal/components/request-filters/request-filters.component.ts
  libs/ui/src/lib/modules/filters/index.ts
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.html
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.scss
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.spec.ts
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.ts
Due: none

fix(my-time): combine workflow-status filter with others
  libs/ui/src/lib/modules/filters/workflow-status-combo-box-filter/workflow-status-combo-box-filter.component.html
  libs/ui/src/lib/modules/filters/workflow-status-combo-box-filter/workflow-status-combo-box-filter.component.ts
Due: none

feat(my-time): change status in request detail dialog
  apps/hcm-web/src/environments/environment.ts
  libs/my-time/src/lib/internal/services/my-requests.service.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.html
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.service.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-update-timesheet-requests/my-update-timesheet-requests.component.ts
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
Due: prettier --write

feat(my-time): refresh leave list when changing status in request detail dialog
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
Due: none

feat(employees): implement filter by birthMonth & onboardDate-range
  libs/admin/employees/src/lib/admin-employees.module.ts
  libs/admin/employees/src/lib/i18n/en.json
  libs/admin/employees/src/lib/i18n/vi.json
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.html
  libs/ui/src/lib/modules/filters/input-date-range-filter/input-date-range-filter.component.ts
  libs/ui/src/lib/modules/filters/select-month-filter/select-month-filter.component.html
  libs/ui/src/lib/modules/filters/select-month-filter/select-month-filter.component.ts
Due: none

fix(styles): reduce margin of tui-value-decoration
  .lintstagedrc
  .lintstagedrc.yaml
  .prettierrc
  libs/core/assets/styles/main.scss
  package.json
  yarn.lock
Due: none

feat(employees): employee can have multi-supervisors (HRM-1820)
  libs/admin/employees/src/lib/admin-employees.module.ts
  libs/admin/employees/src/lib/components/formly-repeat-section/formly-repeat-section.component.html
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/admin/employees/src/lib/components/init-employee-dialog/init-employee-dialog.component.html
  libs/admin/employees/src/lib/i18n/en.json
  libs/admin/employees/src/lib/i18n/vi.json
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/admin/employees/src/lib/services/admin-employees.service.ts
  libs/cdk/src/lib/models/employee.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.ts
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.service.ts
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/multi-select-search/multi-select-search.component.html
  package.json
  yarn.lock
Due: none

feat(my-time): implement sort by cif & name in request lists
  apps/hcm-web/src/environments/environment.ts
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.ts
  package.json
  yarn.lock
Due: prettier --write

feat(my-time): change sortable properties
  apps/hcm-web/src/environments/environment.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/internal/services/request-detail-dialog/request-detail-dialog.component.html
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/transfer-leave-entitlements-request-list/transfer-leave-entitlements-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.ts
Due: prettier --write, transloco-validator

feat(my-time): add permission `VIEW_SUBORDINATE_REQUEST` to access Request Management
  libs/my-time/src/lib/my-time.module.ts
Due: none

Path conditions:
  prettier --write: any of: apps/**/*.{js,ts,json,scss,md}
  transloco-validator: any of: libs/**/assets/i18n/*.json
