Repository trungvu0612/nexthcm-angular-libraries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, transloco-validator

.lintstagedrc:

{
  "apps/**/*.{js,ts,json,scss,md}": [
    "prettier --write"
  ],
  "libs/**/assets/i18n/*.json": ["transloco-validator"]
}

.lintstagedrc.yaml:

{ '*.{js,ts,html,md,less,scss,yaml,json}': ['prettier --write'] }

feat(notifications): add sendDate & expiredDate fields
  libs/admin/notifications/src/lib/pages/upsert-notification/upsert-notification.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/cron-builder/src/lib/shared/cron-container/cron-container.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.ts
  libs/ui/src/lib/modules/formly-taiga-ui/modules/inputs/input-date-time/input-date-time.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/inputs/input-date-time/input-date-time.component.ts
Due: prettier --write, transloco-validator

fix(cronstrue): export cronstrue pipe
  libs/cronstrue/src/index.ts
Due: prettier --write

feat(my-time): rename `sendTo` field to `emailCC`, remove unnecessary columns at working hours table
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/src/lib/i18n/en.json
  libs/my-time/src/lib/i18n/vi.json
  libs/my-time/src/lib/internal/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/internal/components/create-transfer-leave-entitlement-request/create-transfer-leave-entitlement-request.component.ts
  libs/my-time/src/lib/internal/components/create-working-after-hours-request-dialog/create-working-after-hours-request-dialog.component.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.scss
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.html
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.ts
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.scss
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.ts
  libs/my-time/src/lib/my-time.module.ts
  libs/my-time/src/lib/shared/create-request-forms/create-work-from-home-request/create-work-from-home-request.component.ts
  libs/my-time/src/lib/shared/create-request-forms/create-working-onsite-request/create-working-onsite-request.component.ts
  libs/my-time/src/lib/shared/formly-direct-supervisor/formly-assignee.component.html
  libs/my-time/src/lib/shared/formly-direct-supervisor/formly-assignee.component.scss
  libs/my-time/src/lib/shared/formly-direct-supervisor/formly-assignee.component.spec.ts
  libs/my-time/src/lib/shared/formly-direct-supervisor/formly-assignee.component.ts
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.html
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.spec.ts
  libs/my-time/src/lib/shared/formly-repeat-section/formly-repeat-section.component.ts
Due: prettier --write, transloco-validator

chore: add notifications route to nexthcm-app
  apps/nexthcm-web/src/app/app.module.ts
Due: prettier --write

fix(notifications): handle sendDate field
  libs/admin/notifications/src/lib/pages/upsert-notification/upsert-notification.component.ts
  libs/core/assets/i18n/en.json
Due: prettier --write, transloco-validator

fix(notifications): handle remove expiredDate when editing
  libs/admin/notifications/src/lib/pages/upsert-notification/upsert-notification.component.ts
  libs/admin/offices/src/lib/services/admin-offices.http
Due: prettier --write

build: revert environment files
  angular.json
  apps/demo-web/src/environments/environment.dev.ts
  apps/demo-web/src/environments/environment.local.ts
  apps/demo-web/src/environments/environment.prod.ts
  apps/demo-web/src/environments/environment.qa.ts
  apps/demo-web/src/environments/environment.ts
  apps/demo-web/src/environments/environment.uat.ts
  apps/demo-web/src/favicon.ico
  apps/demo-web/src/index.html
Due: prettier --write

chore: add @types/uuid
  package.json
  yarn.lock
Due: prettier --write

build: fix wrong path of environments
  angular.json
Due: prettier --write

build: remove transloco-optimize:hcm-web command
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

build: revert nginx-custom.conf
  nginx-custom.conf
Due: none

fix(ui): quill modules
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
  apps/demo-web/src/environments/environment.ts
  libs/admin/workflows/src/lib/pages/email-template-management/email-template-management.component.ts
  libs/admin/workflows/src/lib/pages/workflow-management/workflow-management.component.ts
  package.json
  yarn.lock
Due: prettier --write

fix(employees): handle queryParams id
  yarn.lock
Due: none

chore(workflows): get reporting methods from store
  libs/admin/workflows/package.json
  libs/admin/workflows/src/lib/components/add-condition-to-transition-dialog/add-condition-to-transition-dialog.component.ts
  yarn.lock
Due: prettier --write

feat(offices): network wifi management
  apps/demo-web/src/app/app.module.ts
  yarn.lock
Due: prettier --write

fix(core): registerLocaleData at app module
  apps/demo-web/src/app/app.module.ts
  yarn.lock
Due: prettier --write

feat(admin-working-times): create CICO exception lists
  yarn.lock
Due: none

chore(admin-working-times): change some translations
  yarn.lock
Due: none

feat(home): manager leave calendar
  yarn.lock
Due: none

feat(home): user working hours calendar
  package.json
  yarn.lock
Due: prettier --write

feat(my-time): import time log, multiple cc
  apps/demo-web/src/app/app.module.ts
  package.json
  yarn.lock
Due: prettier --write

fix(home, my-time)
  yarn.lock
Due: none

feat(my-time): mention comment
  package.json
  yarn.lock
Due: prettier --write

style(my-time): mention
  yarn.lock
Due: none

fix(home): user working-hours calendar
  yarn.lock
Due: none

fix(home): unshown leave on progress bar at user working-hours calendar
  yarn.lock
Due: none

build: turn off optimization for production mode
  angular.json
Due: prettier --write

build: turn off optimization for qa mode
  angular.json
  yarn.lock
Due: prettier --write

chore: update packages
  .gitignore
  libs/admin/requests-configuration/project.json
  libs/admin/workflows/project.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/workflow-designer/project.json
  package.json
Due: prettier --write

build: transloco cache
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
  package.json
Due: prettier --write

style(my-time): mention editor
  libs/ui/src/lib/components/formly-mention-editor/formly-mention-editor.component.scss
  libs/ui/src/lib/components/formly-mention-editor/formly-mention-editor.component.ts
Due: prettier --write

feat(my-time): address, time in/out (everyone working hours)
  libs/home/src/lib/home.component.ts
  libs/my-time/src/lib/models/time-keeping.ts
  libs/my-time/src/lib/models/working-hours.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.html
  libs/my-time/src/lib/modules/working-hours/components/group-working-hours-table/group-working-hours-table.component.ts
Due: prettier --write

fix(my-time): update import-time-log-template.xlsx
  libs/core/assets/files/import-time-log-template.xlsx
Due: none

feat(admin/employees): add street number, street field in individual form
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/employees/src/lib/i18n/en.json
  libs/admin/employees/src/lib/i18n/vi.json
Due: prettier --write

feat(my-time): improve working hours requests
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.html
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.ts
Due: prettier --write

feat(home): add `workingInfoCurrentMonth` to manager leave-calendar
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/home/src/lib/components/leave-calendar-date-item/leave-calendar-date-item.component.html
  libs/home/src/lib/components/manager-leave-calendar/manager-leave-calendar.component.html
  libs/home/src/lib/components/manager-leave-calendar/manager-leave-calendar.component.ts
  libs/my-time/src/lib/models/leave-calendar-employee.ts
  libs/my-time/src/lib/models/leave-request.ts
  libs/my-time/src/lib/services/my-time.http
  package.json
  yarn.lock
Due: prettier --write, transloco-validator

fix(transloco): update successfully
  libs/admin/employees/src/lib/components/attachment-form/attachment-form.component.ts
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.ts
  libs/admin/employees/src/lib/components/education-form/education-form.component.ts
  libs/admin/employees/src/lib/components/general-information/general-information.component.ts
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
Due: prettier --write, transloco-validator
