Repository trungvu0612/nexthcm-angular-libraries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, transloco-validator

.lintstagedrc:

{
  "apps/**/*.{js,ts,json,scss,md}": [
    "prettier --write"
  ],
  "libs/**/assets/i18n/*.json": ["transloco-validator"]
}

fix(leave-configs): i18n
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.html
Due: transloco-validator

chore(release): 1.0.0
  libs/admin/employees/package.json
  libs/admin/job-levels/package.json
  libs/admin/job-titles/package.json
  libs/admin/knowledge-base/package.json
  libs/admin/leave-configs/package.json
  libs/admin/offices/package.json
  libs/admin/permissions/package.json
  libs/admin/requests-configuration/package.json
  libs/admin/seat-maps/package.json
  libs/admin/synchronize-data/package.json
  libs/admin/tenants/package.json
  libs/admin/user-roles/package.json
  libs/admin/workflows/package.json
  libs/admin/working-times/package.json
  libs/auth/package.json
  libs/calendar/package.json
  libs/cdk/package.json
  libs/chat/package.json
  libs/core/package.json
  libs/cron-builder/package.json
  libs/home/package.json
  libs/human-resource/package.json
  libs/knowledge-base/package.json
  libs/my-time/package.json
  libs/seat-maps/package.json
  libs/ui/package.json
  libs/workflow-designer/package.json
  package.json
  yarn.lock
Due: none

chore(release): 1.0.0
  Jenkinsfile_prod
  Jenkinsfile_uat
Due: none

feat(my-time): create leave entitlement transfer request dialog (HRM-1558)
  APIs/auth.http
  APIs/my-time.http
  APIs/workflows.http
  apps/hcm-web/src/environments/environment.ts
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.service.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-entitlement/upsert-leave-entitlement-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.ts
  libs/admin/leave-configs/src/lib/pages/leave-type-management/leave-type-management.component.ts
  libs/admin/requests-configuration/src/lib/admin-requests-configuration.component.html
  libs/auth/src/lib/services/auth.http
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/my-time/assets/i18n/en.json
  libs/my-time/assets/i18n/vi.json
  libs/my-time/src/lib/internal/enums/convert-leave-entitlement-type.ts
  libs/my-time/src/lib/internal/enums/index.ts
  libs/my-time/src/lib/internal/enums/transfer-leave-entitlement-type.ts
  libs/my-time/src/lib/internal/models/index.ts
  libs/my-time/src/lib/internal/models/maximum-leave-entitlements-can-convert.ts
  libs/my-time/src/lib/internal/models/maximum-leave-entitlements-can-transfer.ts
  libs/my-time/src/lib/internal/models/requests/convert-leave-entitlement-payload.ts
  libs/my-time/src/lib/internal/models/requests/index.ts
  libs/my-time/src/lib/internal/models/requests/transfer-leave-entitlement-payload.ts
  libs/my-time/src/lib/models/index.ts
  libs/my-time/src/lib/models/leave-type.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.html
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
  libs/my-time/src/lib/services/my-leave.service.ts
  libs/my-time/src/lib/services/my-time.http
  libs/my-time/src/lib/shared/create-convert-leave-entitlement-request/create-convert-leave-entitlement-request.component.ts
Due: prettier --write, transloco-validator

feat(seat-map): add checkin-out information of assigned user (HRM-1639)
  apps/hcm-web/src/environments/environment.ts
  libs/admin/working-times/src/lib/admin-working-times.module.ts
  libs/knowledge-base/package.json
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.html
  libs/my-time/package.json
  libs/my-time/src/lib/modules/my-requests/pages/my-work-from-home-requests/my-work-from-home-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-working-after-hours-requests/my-working-after-hours-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-working-outside-requests/my-working-outside-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-working-outside-requests/my-working-outside-requests.component.ts
  libs/seat-maps/package.json
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/models/seat-map.ts
  libs/seat-maps/src/lib/seat-maps.module.ts
  libs/ui/src/lib/components/avatar/avatar.component.html
  libs/ui/src/lib/components/avatar/avatar.component.ts
Due: prettier --write

fix(utils): handle empty string when parse day fields
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
  libs/cdk/src/lib/utils/parse-day-fields.ts
Due: none

build: update Jenkinsfiles
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_qa
  Jenkinsfile_uat
Due: none

feat(knowledge-base): improve categories
  Jenkinsfile
  Jenkinsfile_dev
  Jenkinsfile_prod
  Jenkinsfile_qa
  Jenkinsfile_uat
  apps/hcm-web/src/environments/environment.ts
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/knowledge-base/assets/i18n/en.json
  libs/knowledge-base/assets/i18n/vi.json
  libs/knowledge-base/ng-package.json
  libs/knowledge-base/src/lib/components/knowledge-base-article-list/knowledge-base-article-list.component.html
  libs/knowledge-base/src/lib/components/knowledge-base-article-list/knowledge-base-article-list.component.scss
  libs/knowledge-base/src/lib/components/knowledge-base-article-list/knowledge-base-article-list.component.spec.ts
  libs/knowledge-base/src/lib/components/knowledge-base-article-list/knowledge-base-article-list.component.ts
  libs/knowledge-base/src/lib/knowledge-base.module.ts
  libs/knowledge-base/src/lib/models/knowledge-base-article.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.ts
Due: prettier --write, transloco-validator

fix(cdk): improve join-by-key pipe's typing
  libs/admin/leave-configs/src/lib/pages/leave-level-approval-management/leave-level-approval-management.component.html
  libs/cdk/src/lib/pipes/join-by-key/join-by-key.pipe.ts
Due: none

chore(all): update packages
  libs/admin/synchronize-data/package.json
  libs/my-time/src/lib/shared/create-leave-request-dialog/create-leave-request-dialog.component.ts
  package.json
  yarn.lock
Due: none

feat(admin-employee): implement `isDeletable` for an employee
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/cdk/src/lib/models/employee-info.ts
  package.json
Due: none

chore(release): 1.0.1
  libs/admin/requests-configuration/package.json
  libs/cdk/package.json
  libs/workflow-designer/package.json
  package.json
Due: none

chore(release): 1.0.1
  yarn.lock
Due: none

build: add command for step `Build web`
  Jenkinsfile_prod
  Jenkinsfile_uat
Due: none

build: fix missing command for ngcc
  Jenkinsfile_dev
  Jenkinsfile_qa
Due: none

feat(employees): allow edit name
  libs/admin/employees/src/lib/components/general-information-form/general-information-form.component.ts
Due: none

feat(mployees,my-time): filter employees by role, add MY_TEAM filter to request management lists (HRM-1658, HRM-1678)
  libs/admin/employees/src/lib/admin-employees.module.ts
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/admin/job-titles/src/lib/pages/job-title-management/job-title-management.component.ts
  libs/admin/seat-maps/package.json
  libs/admin/user-roles/assets/i18n/en.json
  libs/admin/user-roles/assets/i18n/vi.json
  libs/admin/user-roles/src/lib/admin-user-roles.module.ts
  libs/admin/user-roles/src/lib/components/upsert-user-roles/upsert-user-role-dialog.component.html
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/my-time/assets/i18n/en.json
  libs/my-time/assets/i18n/vi.json
  libs/my-time/src/lib/shared/request-list-filter/request-list-filter.component.html
  libs/my-time/src/lib/shared/request-list-filter/request-list-filter.component.ts
  libs/ui/src/lib/components/base-form/base-form.component.html
Due: transloco-validator

feat(my-time): add MY_TEAM filter to everyone-working-hours list (HRM-1679)
  libs/core/assets/styles/main.scss
  libs/core/package.json
  libs/my-time/package.json
  libs/my-time/src/lib/modules/my-leave/my-leave.component.html
  libs/my-time/src/lib/modules/my-leave/my-leave.module.ts
  libs/my-time/src/lib/modules/my-requests/my-requests.module.ts
  libs/my-time/src/lib/modules/my-requests/pages/my-update-timesheet-requests/my-update-timesheet-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-work-from-home-requests/my-work-from-home-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-working-after-hours-requests/my-working-after-hours-requests.component.html
  libs/my-time/src/lib/modules/my-requests/pages/my-working-onsite-requests/my-working-onsite-requests.component.html
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.html
  libs/my-time/src/lib/modules/request-management/request-management.module.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/only-me-working-hours-list/only-me-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.html
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.scss
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.spec.ts
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.module.ts
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.html
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.scss
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.spec.ts
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.ts
  libs/ui/package.json
  libs/ui/src/lib/modules/filters/basic-filter/basic-filter.component.html
  libs/ui/src/lib/modules/filters/basic-filter/basic-filter.component.scss
  libs/ui/src/lib/modules/filters/basic-filter/basic-filter.component.spec.ts
  libs/ui/src/lib/modules/filters/basic-filter/basic-filter.component.ts
  libs/ui/src/lib/modules/filters/index.ts
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/multi-select/multi-select.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/select-search/select-search.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/select-search/select-search.component.scss
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/select-search/select-search.component.ts
  libs/ui/src/lib/modules/formly-taiga-ui/modules/selects/selects.module.ts
  package.json
  yarn.lock
Due: none

fix(my-time): exclude MY_TEAM filter for my request lists
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/update-timesheet-request-list/update-timesheet-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/work-form-home-request-list/work-form-home-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-after-hours-request-list/working-after-hours-request-list.component.html
  libs/my-time/src/lib/modules/request-management/pages/working-onsite-request-list/working-onsite-request-list.component.html
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.html
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.ts
Due: none

feat(my-time): export time log
  .eslintrc.json
  libs/admin/leave-configs/src/lib/models/leave-entitlement-filters.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/my-time/assets/i18n/en.json
  libs/my-time/assets/i18n/vi.json
  libs/my-time/src/lib/internal/enums/export-time-log-type.ts
  libs/my-time/src/lib/internal/enums/index.ts
  libs/my-time/src/lib/internal/models/export-time-log.ts
  libs/my-time/src/lib/internal/models/index.ts
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.html
  libs/my-time/src/lib/modules/working-hours/components/everyone-working-hours-list/everyone-working-hours-list.component.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.html
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.scss
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.spec.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
  libs/my-time/src/lib/modules/working-hours/working-hours.module.ts
  libs/my-time/src/lib/services/working-hours.service.ts
  package.json
  yarn.lock
Due: transloco-validator

chore(next-hcm-demo-web): config target dependencies
  angular.json
  nx.json
Due: none

fix(my-time): `exportType` key when exporting time-log
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
  yarn.lock
Due: none

feat(core): handle blob http error
  libs/cdk/src/lib/components/prompt/prompt.service.ts
  libs/core/package.json
  libs/core/src/lib/core.module.ts
  libs/core/src/lib/interceptors/blob-error-http.interceptor.spec.ts
  libs/core/src/lib/interceptors/blob-error-http.interceptor.ts
  libs/core/src/lib/interceptors/index.ts
  libs/core/src/lib/transloco/transloco-config.ts
  libs/core/src/lib/transloco/transloco-root.module.ts
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.html
  libs/my-time/src/lib/modules/working-hours/components/export-time-log-dialog/export-time-log-dialog.component.ts
  yarn.lock
Due: none

chore(release): 1.0.3
  package.json
  yarn.lock
Due: none

feat(cdk): response default value when failure getting pagination request
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.html
  libs/admin/employees/src/lib/services/admin-employees.service.ts
  libs/cdk/src/lib/abstract/table-components/abstract-server-pagination-table.component.ts
  libs/cdk/src/lib/constants/default-pagination-data.ts
  libs/cdk/src/lib/constants/index.ts
  libs/cdk/src/lib/models/paging-response.ts
  libs/core/src/index.ts
  libs/core/src/lib/constants/index.ts
  libs/core/src/lib/constants/router-config.ts
Due: none

chore(build): update yarn.lock
  yarn.lock
Due: none

fix(admin-employees): handle empty response's data when get employee's information
  libs/admin/employees/src/lib/components/attachment-form/attachment-form.component.ts
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.ts
  libs/admin/employees/src/lib/components/education-form/education-form.component.ts
  libs/admin/employees/src/lib/components/general-information/general-information.component.ts
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/admin/employees/src/lib/pages/employee-management/employee-management.component.ts
  libs/cdk/src/lib/services/employees/employees.service.ts
Due: none

feat(admin-leave-configs): implement leave entitlements filters
  apps/hcm-web/src/environments/environment.ts
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/leave-configs/package.json
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.service.ts
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.html
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.scss
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.spec.ts
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.ts
  libs/admin/leave-configs/src/lib/enums/index.ts
  libs/admin/leave-configs/src/lib/enums/leave-entitlement-filters-type.ts
  libs/admin/leave-configs/src/lib/models/index.ts
  libs/admin/leave-configs/src/lib/models/leave-entitlement-filters.ts
  libs/admin/leave-configs/src/lib/models/leave-entitlement.ts
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.html
  libs/admin/leave-configs/src/lib/pages/employee-leave-entitlement-management/employee-leave-entitlement-management.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/my-time/src/lib/shared/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/ui/src/lib/components/formly-select-org-tree/formly-select-org-tree.component.ts
  package.json
  yarn.lock
Due: prettier --write, transloco-validator

chore(all): update yarn.lock
  yarn.lock
Due: none

fix(admin-leave-configs): change id key of workflow
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.ts
  libs/admin/requests-configuration/src/lib/admin-requests-configuration.component.ts
  libs/cdk/src/lib/components/prompt/prompt.component.html
  libs/my-time/src/lib/shared/create-leave-request-dialog/create-leave-request-dialog.component.ts
Due: none

fix(admin-leave-configs): handle export leave usage without date-range
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.html
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.ts
  libs/ui/src/lib/components/formly-select-org-tree/formly-select-org-tree.component.html
Due: none

fix(admin-leave-configs): handle exporting all
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.html
  libs/admin/leave-configs/src/lib/components/leave-entitlement-filters/leave-entitlement-filters.component.ts
Due: none

feat(seat-maps): add statistics about seats
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/assets/styles/modules/_status.scss
  libs/core/package.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/seat-maps/package.json
  libs/seat-maps/src/lib/enums/user-state.ts
  libs/seat-maps/src/lib/models/seat-map.ts
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.scss
  libs/seat-maps/src/lib/seat-maps.component.ts
  libs/seat-maps/src/lib/seat-maps.module.ts
  package.json
  yarn.lock
Due: transloco-validator

feat(seat-maps): add filters
  apps/hcm-web/src/environments/environment.ts
  libs/admin/seat-maps/src/lib/admin-seat-maps.module.ts
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/admin/seat-maps/src/lib/services/admin-seat-maps.service.ts
  libs/cdk/src/lib/enums/index.ts
  libs/cdk/src/lib/enums/user-state.ts
  libs/cdk/src/lib/models/index.ts
  libs/cdk/src/lib/models/seat-map.ts
  libs/cdk/src/lib/state/index.ts
  libs/cdk/src/lib/state/roles/roles.query.ts
  libs/cdk/src/lib/state/roles/roles.store.ts
  libs/cdk/src/lib/state/seat-maps/index.ts
  libs/cdk/src/lib/state/seat-maps/seat-map.effects.ts
  libs/cdk/src/lib/state/seat-maps/seat-maps.actions.ts
  libs/cdk/src/lib/state/seat-maps/seat-maps.service.ts
  libs/cdk/src/lib/state/seat-maps/seat-maps.state.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/my-time/assets/i18n/en.json
  libs/my-time/assets/i18n/vi.json
  libs/my-time/src/lib/modules/working-hours/components/working-hours-filters/working-hours-filters.component.ts
  libs/my-time/src/lib/shared/request-list-filters/request-list-filters.component.ts
  libs/seat-maps/src/index.ts
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/models/index.ts
  libs/seat-maps/src/lib/pipes/seat-user-state.pipe.ts
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.ts
  libs/seat-maps/src/lib/seat-maps.module.ts
  libs/seat-maps/src/lib/seat-maps.service.ts
Due: prettier --write, transloco-validator

chore(cdk): sync my-time-status with BE
  libs/cdk/src/lib/enums/user-state.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  yarn.lock
Due: transloco-validator
