Repository trungvu0612/nexthcm-angular-libraries: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, transloco-validator

.lintstagedrc:

{
  "apps/**/*.{js,ts,json,scss,md}": [
    "prettier --write"
  ],
  "libs/**/assets/i18n/*.json": ["transloco-validator"]
}

chore(project): downgrade transloco-optimize
  package.json
  yarn.lock
Due: none

chore(core): update package.json
  libs/core/package.json
  package.json
Due: none

chore(core): update yarn.lock
  yarn.lock
Due: none

HRM-1471 update sync configuration & fix bug knowledge category page
  angular.json
  apps/hcm-web/src/app/app.module.ts
  apps/next-hcm-demo-web/src/app/app.module.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/admin/knowledge-base/src/lib/pages/list-category/list-category.component.ts
  libs/admin/synchronize-data/.eslintrc.json
  libs/admin/synchronize-data/README.md
  libs/admin/synchronize-data/jest.config.js
  libs/admin/synchronize-data/ng-package.json
  libs/admin/synchronize-data/package.json
  libs/admin/synchronize-data/src/index.ts
  libs/admin/synchronize-data/src/lib/admin-synchronize-data.module.ts
  libs/admin/synchronize-data/src/lib/pages/synchronize-settings/synchronize-settings.component.html
  libs/admin/synchronize-data/src/lib/pages/synchronize-settings/synchronize-settings.component.scss
  libs/admin/synchronize-data/src/lib/pages/synchronize-settings/synchronize-settings.component.spec.ts
  libs/admin/synchronize-data/src/lib/pages/synchronize-settings/synchronize-settings.component.ts
  libs/admin/synchronize-data/src/test-setup.ts
  libs/admin/synchronize-data/tsconfig.json
  libs/admin/synchronize-data/tsconfig.lib.json
  libs/admin/synchronize-data/tsconfig.lib.prod.json
  libs/admin/synchronize-data/tsconfig.spec.json
  libs/admin/tenants/src/lib/pages/tenant-management/tenant-management.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/ui/src/lib/modules/layout/sidebar/sidebar.component.ts
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, transloco-validator

fix(cron-builder): export quartz-cron
  libs/cron-builder/src/index.ts
Due: none

fix(cron-builder): install @nexthcm/cron-builder
  package.json
  yarn.lock
Due: none

fix(i18n): add missing keys
  libs/admin/job-levels/src/lib/pages/job-level-management/job-level-management.component.ts
  libs/admin/knowledge-base/assets/i18n/en.json
  libs/admin/knowledge-base/assets/i18n/vi.json
  libs/admin/knowledge-base/src/lib/pages/list-category/list-category.component.ts
  libs/admin/knowledge-base/src/lib/pages/list-policies/list-policies.component.ts
  libs/admin/knowledge-base/src/lib/pages/upsert-policy/upsert-policy.component.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.ts
  libs/admin/leave-configs/src/lib/pages/leave-type-management/leave-type-management.component.html
  libs/admin/seat-maps/assets/i18n/en.json
  libs/admin/seat-maps/assets/i18n/vi.json
  libs/admin/seat-maps/src/lib/pages/seat-map-list/seat-map-list.component.ts
  libs/admin/workflows/assets/i18n/en.json
  libs/admin/workflows/assets/i18n/vi.json
  libs/cdk/src/lib/models/user-dto.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.ts
Due: transloco-validator

refactor(user-roles): optimize for performance (HRM-1469)
  libs/admin/synchronize-data/src/lib/components/edit-synchronization-setting-dialog/edit-synchronization-setting-dialog.component.html
  libs/admin/user-roles/src/lib/admin-user-roles.module.ts
  libs/admin/user-roles/src/lib/components/formly-select-permissions/formly-select-permissions.component.html
  libs/admin/user-roles/src/lib/components/formly-select-permissions/formly-select-permissions.component.ts
  libs/admin/user-roles/src/lib/components/upsert-user-roles/upsert-user-role-dialog.component.ts
  libs/admin/user-roles/src/lib/models/base-permission.ts
  libs/admin/user-roles/src/lib/models/user-role.ts
  libs/admin/user-roles/src/lib/services/admin-user-roles.service.ts
  libs/core/assets/i18n/vi.json
Due: transloco-validator

refactor(admin-knowledge-base): implement categories state
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.module.ts
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.service.ts
  libs/admin/knowledge-base/src/lib/pages/upsert-knowledge-base-article/upsert-knowledge-base-article.component.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/index.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/knowledge-base-categories.actions.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/knowledge-base-categories.effects.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/knowledge-base-categories.state.ts
  libs/admin/tenants/src/lib/pages/tenant-management/tenant-management.component.html
  libs/admin/workflows/src/lib/state/email-templates/email-templates.effects.ts
  libs/my-time/src/lib/modules/shared/request-detail-dialog/request-detail-dialog.component.html
Due: none

refactor(seat-maps): fix bugs, optimize code
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.service.ts
  libs/admin/knowledge-base/src/lib/components/upsert-knowledge-base-category-dialog/upsert-knowledge-base-category-dialog.component.ts
  libs/admin/knowledge-base/src/lib/pages/knowledge-base-article-management/knowledge-base-article-management.component.ts
  libs/admin/knowledge-base/src/lib/pages/knowledge-base-category-management/knowledge-base-category-management.component.ts
  libs/admin/knowledge-base/src/lib/pages/upsert-knowledge-base-article/upsert-knowledge-base-article.component.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/knowledge-base-categories.actions.ts
  libs/admin/knowledge-base/src/lib/state/knowledge-base-categories/knowledge-base-categories.state.ts
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/offices/src/lib/components/upsert-office-dialog/upsert-office-dialog.component.ts
  libs/admin/offices/src/lib/pages/office-management/office-management.component.ts
  libs/admin/offices/src/lib/services/admin-offices.service.ts
  libs/admin/synchronize-data/assets/i18n/en.json
  libs/admin/synchronize-data/assets/i18n/vi.json
  libs/admin/tenants/src/lib/pages/tenant-management/tenant-management.component.ts
  libs/cdk/src/lib/models/index.ts
  libs/cdk/src/lib/models/office.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/knowledge-base/src/index.ts
  libs/knowledge-base/src/lib/models/index.ts
  libs/knowledge-base/src/lib/models/knowledge-base-article.ts
  libs/knowledge-base/src/lib/models/knowledge-base-category.ts
  libs/seat-maps/src/index.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/models/index.ts
  libs/seat-maps/src/lib/models/seat-map.ts
  libs/seat-maps/src/lib/pipes/seat-user-state.pipe.spec.ts
  libs/seat-maps/src/lib/pipes/seat-user-state.pipe.ts
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.ts
  libs/seat-maps/src/lib/seat-maps.module.ts
  libs/seat-maps/src/lib/seat-maps.service.ts
Due: transloco-validator

feat(admin-knowledge-base): validate name on input
  libs/admin/employees/src/lib/admin-employees.module.ts
  libs/admin/employees/src/lib/pages/edit-employee/edit-employee.component.html
  libs/admin/employees/src/lib/pages/edit-employee/edit-employee.component.ts
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.service.ts
  libs/admin/knowledge-base/src/lib/components/upsert-knowledge-base-category-dialog/upsert-knowledge-base-category-dialog.component.ts
  libs/admin/knowledge-base/src/lib/pages/upsert-knowledge-base-article/upsert-knowledge-base-article.component.ts
  libs/cdk/src/lib/models/office.ts
Due: none

refactor(admin-seat-maps): fix bugs, optimize code (HRM-1533)
  libs/admin/employees/assets/i18n/en.json
  libs/admin/seat-maps/assets/i18n/en.json
  libs/admin/seat-maps/assets/i18n/vi.json
  libs/admin/seat-maps/package.json
  libs/admin/seat-maps/src/lib/admin-seat-maps.module.ts
  libs/admin/seat-maps/src/lib/pages/seat-map-list/seat-map-list.component.ts
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.html
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.scss
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.spec.ts
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.html
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.scss
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/admin/seat-maps/src/lib/services/admin-seat-maps.service.ts
  libs/cdk/src/lib/models/index.ts
  libs/cdk/src/lib/models/zone.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/seat-maps/src/index.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/models/seat-map.ts
Due: transloco-validator

feat(seat-maps): validate upon select user
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/seat-maps.service.ts
Due: transloco-validator

fix(admin-seat-maps): handle async factor
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.service.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/seat-maps.component.html
Due: none

feat(leave-level-approval-configs): change leave type select to multi-select (HRM-1528)
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.service.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.ts
  libs/admin/leave-configs/src/lib/models/leave-level-approval.ts
  libs/admin/leave-configs/src/lib/pages/leave-level-approval-management/leave-level-approval-management.component.html
  libs/admin/leave-configs/src/lib/pages/leave-level-approval-management/leave-level-approval-management.component.ts
  libs/admin/leave-configs/src/lib/pipes/base-objects.pipe.ts
  libs/admin/leave-configs/src/lib/pipes/job-titles.pipe.spec.ts
  libs/admin/leave-configs/src/lib/state/leave-types.effects.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
Due: transloco-validator

fix(admin-seat-maps): mismatch i18n key
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
Due: none

fix(admin-seat-maps): remove debounceTime in size forms for smoothing
  libs/admin/knowledge-base/src/lib/pages/upsert-knowledge-base-article/upsert-knowledge-base-article.component.ts
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
Due: none

feat(employees): add field 'dependent members' (HRM-1526)
  APIs/auth.http
  apps/hcm-web/src/environments/environment.ts
  libs/admin/employees/assets/i18n/en.json
  libs/admin/employees/assets/i18n/vi.json
  libs/admin/employees/src/lib/components/duration-form/duration-form.component.ts
  libs/admin/employees/src/lib/components/education-form/education-form.component.ts
  libs/admin/employees/src/lib/components/formly-repeat-section/formly-repeat-section.component.html
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/admin/leave-configs/assets/i18n/en.json
  libs/admin/leave-configs/assets/i18n/vi.json
  libs/admin/leave-configs/src/lib/admin-leave-configs.http
  libs/admin/leave-configs/src/lib/admin-leave-configs.module.ts
  libs/admin/leave-configs/src/lib/admin-leave-configs.service.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-approval-level-dialog/upsert-leave-approval-level-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-entitlement/upsert-leave-entitlement-dialog.component.ts
  libs/admin/leave-configs/src/lib/components/upsert-leave-type-dialog/upsert-leave-type-dialog.component.ts
  libs/admin/leave-configs/src/lib/models/leave-level-approval.ts
  libs/admin/leave-configs/src/lib/pages/leave-level-approval-management/leave-level-approval-management.component.html
  libs/admin/leave-configs/src/lib/pages/leave-level-approval-management/leave-level-approval-management.component.ts
  libs/admin/leave-configs/src/lib/state/index.ts
  libs/admin/leave-configs/src/lib/state/leave-types.actions.ts
  libs/admin/leave-configs/src/lib/state/leave-types.effects.ts
  libs/admin/leave-configs/src/lib/state/leave-types.query.ts
  libs/admin/leave-configs/src/lib/state/leave-types.store.ts
  libs/admin/synchronize-data/src/lib/pages/synchronization-settings/synchronization-settings.component.ts
  libs/cdk/src/lib/models/employee.ts
  libs/cdk/src/lib/services/employees/employees.service.ts
  libs/home/src/lib/components/profile-shui/profile-shui.component.html
Due: prettier --write, transloco-validator

feat(employees): add bank branch field
  Jenkinsfile_qa
  libs/admin/employees/assets/i18n/en.json
  libs/admin/employees/assets/i18n/vi.json
  libs/admin/employees/src/lib/components/individual-form/individual-form.component.ts
  libs/admin/user-roles/src/lib/components/upsert-user-roles/upsert-user-role-dialog.component.ts
  libs/cdk/src/lib/models/employee.ts
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/home/src/lib/components/profile-individual/profile-individual.component.html
  libs/knowledge-base/src/lib/knowledge-base.module.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.ts
Due: transloco-validator

Fix seat map
  libs/admin/seat-maps/src/lib/pages/upsert-seat-map/upsert-seat-map.component.ts
  libs/core/assets/styles/modules/_component.scss
  libs/core/assets/styles/modules/_status.scss
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/seat-maps/src/lib/seat-maps.component.html
  libs/seat-maps/src/lib/seat-maps.component.scss
  libs/ui/src/lib/components/avatar/avatar.component.html
Due: none

refactor(knowledge-base): optimize for performance
  Jenkinsfile_dev
  Jenkinsfile_qa
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.service.ts
  libs/admin/knowledge-base/src/lib/pages/knowledge-base-article-management/knowledge-base-article-management.component.ts
  libs/admin/knowledge-base/src/lib/pages/knowledge-base-category-management/knowledge-base-category-management.component.ts
  libs/admin/knowledge-base/src/lib/pages/upsert-knowledge-base-article/upsert-knowledge-base-article.component.ts
  libs/cdk/src/lib/abstract-components/abstract-tables/abstract-server-sort-pagination-table.component.ts
  libs/knowledge-base/src/index.ts
  libs/knowledge-base/src/lib/components/updated-knowledge-category/updated-knowledge-category.component.html
  libs/knowledge-base/src/lib/components/updated-knowledge-category/updated-knowledge-category.component.scss
  libs/knowledge-base/src/lib/components/updated-knowledge-category/updated-knowledge-category.component.spec.ts
  libs/knowledge-base/src/lib/components/updated-knowledge-category/updated-knowledge-category.component.ts
  libs/knowledge-base/src/lib/knowledge-base.module.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-categories/knowledge-base-categories.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-category/knowledge-base-category.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base-articles.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base-articles.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base-articles.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base-articles.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base.component.ts
  libs/knowledge-base/src/lib/pages/knowledge/knowledge.component.html
  libs/knowledge-base/src/lib/pages/knowledge/knowledge.component.scss
  libs/knowledge-base/src/lib/pages/knowledge/knowledge.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge/knowledge.component.ts
  libs/knowledge-base/src/lib/pages/updated-knowledge/updated-knowledge.component.html
  libs/knowledge-base/src/lib/pages/updated-knowledge/updated-knowledge.component.scss
  libs/knowledge-base/src/lib/pages/updated-knowledge/updated-knowledge.component.spec.ts
  libs/knowledge-base/src/lib/pages/updated-knowledge/updated-knowledge.component.ts
  libs/knowledge-base/src/lib/services/index.ts
  libs/knowledge-base/src/lib/services/knowledge-base.service.ts
  libs/ui/src/lib/components/avatar/avatar.component.html
  libs/ui/src/lib/components/avatar/avatar.component.ts
  package.json
  yarn.lock
Due: none

fix(knowledge-base): import path
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.ts
  libs/knowledge-base/src/lib/pages/knowledge-base/knowledge-base-articles.component.ts
Due: none

chore(all): update packages
  .husky/pre-commit
  Jenkinsfile_qa
  libs/admin/knowledge-base/src/lib/admin-knowledge-base.module.ts
  libs/knowledge-base/src/lib/knowledge-base.module.ts
  libs/knowledge-base/src/lib/models/index.ts
  libs/knowledge-base/src/lib/models/knowledge.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-article/knowledge-base-article.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.html
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.scss
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.spec.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.ts
  libs/knowledge-base/src/lib/services/knowledge-base.service.ts
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  package.json
  yarn.lock
Due: none

chore(all): update packages
  yarn.lock
Due: none

fix(seat-map): fallback image
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  yarn.lock
Due: none

feat(workflow): add TransferLeaveRemained post function
  libs/admin/workflows/assets/i18n/en.json
  libs/admin/workflows/assets/i18n/vi.json
  libs/admin/workflows/src/lib/enums/transition-options.ts
  libs/knowledge-base/src/lib/pages/knowledge-base-articles/knowledge-base-articles.component.scss
  libs/my-time/src/lib/modules/my-leave/components/create-leave-request-dialog/create-leave-request-dialog.component.html
  libs/my-time/src/lib/modules/my-leave/components/create-leave-request-dialog/create-leave-request-dialog.component.scss
  libs/my-time/src/lib/modules/my-leave/components/create-leave-request-dialog/create-leave-request-dialog.component.spec.ts
  libs/my-time/src/lib/modules/my-leave/components/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.module.ts
Due: transloco-validator

chore(all): migrate nx to v13
  angular.json
  nx.json
  package.json
  tailwind.config.js
  yarn.lock
Due: none

chore(all): fix tailwind path
  apps/next-hcm-demo-web/src/styles.scss
Due: prettier --write

fix(admin-working-times): fix label
  libs/admin/working-times/src/lib/pages/working-time-settings/working-time-settings.component.ts
Due: none

feat(my-time): implement create employee's leave request (HRM-1584)
  libs/my-time/assets/i18n/en.json
  libs/my-time/assets/i18n/vi.json
  libs/my-time/src/lib/internal/models/requests/leave-request-payload.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.component.ts
  libs/my-time/src/lib/modules/my-leave/my-leave.module.ts
  libs/my-time/src/lib/modules/request-management/pages/leave-request-list/leave-request-list.component.ts
  libs/my-time/src/lib/modules/request-management/request-management.component.html
  libs/my-time/src/lib/modules/request-management/request-management.component.ts
  libs/my-time/src/lib/modules/request-management/request-management.module.ts
  libs/my-time/src/lib/modules/shared/create-leave-request-dialog/create-leave-request-dialog.component.html
  libs/my-time/src/lib/modules/shared/create-leave-request-dialog/create-leave-request-dialog.component.scss
  libs/my-time/src/lib/modules/shared/create-leave-request-dialog/create-leave-request-dialog.component.spec.ts
  libs/my-time/src/lib/modules/shared/create-leave-request-dialog/create-leave-request-dialog.component.ts
  libs/my-time/src/lib/services/my-leave.service.ts
  libs/ui/src/lib/components/formly-user-combo-box/formly-user-combo-box.component.html
  libs/ui/src/lib/components/formly-user-combo-box/formly-user-combo-box.component.ts
  nx.json
  package.json
Due: transloco-validator

style(seat-map): seat
  libs/seat-maps/src/lib/components/seat/seat.component.html
  libs/seat-maps/src/lib/components/seat/seat.component.scss
  libs/seat-maps/src/lib/components/seat/seat.component.ts
  libs/ui/src/lib/modules/layout/header/header.component.html
Due: none

chore(all): update packages
  package.json
  tailwind.config.js
  yarn.lock
Due: none

fix(my-leave): get end of dateTo
  libs/my-time/src/lib/modules/shared/create-leave-request-dialog/create-leave-request-dialog.component.ts
Due: none

feat(employees): change `certificates` to array (HRM-1580)
  libs/admin/employees/assets/i18n/en.json
  libs/admin/employees/assets/i18n/vi.json
  libs/admin/employees/src/lib/components/education-form/education-form.component.ts
  libs/admin/employees/src/lib/components/shui-form/shui-form.component.ts
  libs/admin/seat-maps/src/lib/pages/seat-map-management/seat-map-management.component.html
  libs/cdk/src/lib/constants/index.ts
  libs/cdk/src/lib/constants/number-format.ts
  libs/cdk/src/lib/models/employee.ts
  libs/cdk/src/lib/services/employees/employees.service.ts
  libs/core/assets/i18n/en.json
  libs/core/assets/i18n/vi.json
  libs/core/src/lib/transloco/i18n-cache-busting.json
  libs/home/src/lib/components/profile-education/profile-education.component.html
  libs/ui/src/lib/modules/formly-taiga-ui/modules/inputs/input-number/input-number.component.ts
  package.json
Due: transloco-validator

chore(workflows): add missing i18n keys
  apps/hcm-workflows/src/environments/environment.ts
  apps/next-hcm-demo-web/src/app/app.module.ts
  apps/next-hcm-demo-web/src/environments/environment.ts
  libs/admin/workflows/assets/i18n/en.json
  libs/admin/workflows/assets/i18n/vi.json
  libs/ui/src/lib/modules/formly-taiga-ui/modules/inputs/inputs.module.ts
Due: prettier --write, transloco-validator
